@charset "utf-8";
/* 代码整理：懒人之家 www.lanrenzhijia.com */
*{ margin:0; padding:0; list-style:none;}
body {font-weight: normal;color: #333;margin-left: 0px;	margin-top: 0px;margin-right: 0px;margin-bottom: 0px;font-family: Microsoft YaHei, Lucida Grande, "微软雅黑";	font-size: 12px;}
a{ text-decoration:none;}
a:hover{ text-decoration:none;}
.l {
	float: left;
}
.park {
	clear: both;
	line-height: 0px;
}
.db {
	display: block;
}
.cl {
	width: 950px;
	margin-right: auto;
	margin-left: auto;
}
.m_l {
	margin-left: 10px;
	display: inline;
}
.tingico {
	background-image: url(http://demo.lanrenzhijia.com/2015/css0126/images/tingicos.png);
	background-repeat: no-repeat;
}
.head_bg {
	background-image: url(http://demo.lanrenzhijia.com/2015/css0126/images/topbg.png);
	background-repeat: repeat-x;
	z-index: 20;
}
.top_h {
	line-height: 55px;
	height: 55px;
}
.top_h a {
	color: #c1c1c1;
}
.nov ul li {
	float: left;
	margin-left: 2px;
}
.nov ul li a {
	height: 49px;
	width: 100px;
	display: block;
}
.nov ul li a,.nov ul li a:hover, .tingico {
	-webkit-transition: all 0.25s linear 0.01s;
	-moz-transition: all 0.25s linear 0.01s;
	-ms-transition: all 0.25s linear 0.01s;
	-o-transition: all 0.25s linear 0.01s;
	transition: all 0.25s linear 0.01s;
}
.nov ul li a:hover {
	color: #A60004;
	background-color: #fafafa;
	height: 47px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #A60004;
}
.liico0, .liico2, .liico3, .liico4, .liico5, .liico6, .liico7, .liico8 {
	height: 30px;
	width: 39px;
	float: left;
	margin-top: 12px;
	margin-left: 14px !important;
	margin-left: 7px;
}
.liico0 {
	background-position: -76px 0px;
}
.liico2 {
	background-position: -76px -30px;
	height: 27px;
	margin-top: 14px;
}
.liico3 {
	background-position: -76px -57px;
	height: 25px;
	margin-top: 14px;
}
.liico5 {
	background-position: -76px -603px;
	height: 31px;
	margin-top: 12px;
	margin-right: 4px;
}
.liico6 {
	background-position: -76px -573px;
	height: 30px;
	margin-top: 13px;
	margin-right: 4px;
}
.liico7 {
	background-position: -76px -704px;
	height: 30px;
	margin-top: 13px;
	margin-right: 4px;
}
.liico8 {
	background-position: -76px -764px;
	height: 30px;
	margin-top: 13px;
	margin-right: 4px;
}
.nov ul .handle_b a {
	width: 112px;
}
.nov ul .handle_b a:hover {
	color: #A60004;
	background-color: #000;
	background-image: url(http://demo.lanrenzhijia.com/2015/css0126/images/hover5_bg.jpg);
	background-repeat: no-repeat;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	line-height: 43px;
}
.nov ul li .hover5:hover .liico7 {
	margin-top: 8px;
}
.liico4 {
	background-position: -76px -83px;
	margin-left: 10px !important;
	margin-left: 4px;
}
.nov ul li a:hover .liico0 {
	background-position: -76px -113px;
}
.nov ul li a:hover .liico2 {
	background-position: -76px -143px;
}
.nov ul li a:hover .liico3 {
	background-position: -76px -170px;
}
.nov ul li a:hover .liico4 {
	background-position: -76px -195px;
}
.nov ul li a:hover .liico5 {
	background-position: -76px -664px;
}
.nov ul li a:hover .liico6 {
	background-position: -76px -634px;
}
.nov ul li a:hover .liico8 {
	background-position: -76px -734px;
}
#tools_point {
	display: none;
	background-image: url(http://demo.lanrenzhijia.com/2015/css0126/images/tools.png);
	background-repeat: no-repeat;
	text-align: center;
	height: 31px;
	width: 138px;
	padding-top: 20px;
	z-index: 99999;
	position: absolute;
	color: #FFF;
	margin-left: 497px;
	margin-top: 40px;
	line-height: 22px;
}
/* 代码整理：懒人之家 www.lanrenzhijia.com */